@model UserVM

@using MongoDbTutorial.Models;

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<input type="hidden" id="deleteForm" value="@Url.Action("Delete")" />
<a class="btn btn-outline-primary" href="@Url.Action("Form")">Create a user</a>
<a class="btn btn-outline-dark delete" href="javascript:void(0);">Delete selected users</a>
<div class="clearfix"></div>
<br />
<div class="list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>User Name</td>
                    <td>Password</td>
                    <td>Inserted Date</td>
                    <td>Updated Date</td>
                    <td>Is Admin?</td>
                    <td>Is Active?</td>
                    <td>Is Deleted?</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.List)
                {
                    <tr class="@(user.IsDeleted ? "inactive-background" : "")">
                        <td><input type="checkbox" id="id_@user.Id" value="@user.Id" /></td>
                        <td><a href="@Url.Action("Form", "User", new { id = user.Id })">Edit</a></td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.UserName</td>
                        <td>******</td>
                        <td>@user.DateInserted</td>
                        <td>@user.DateUpdated</td>
                        <td>@user.IsAdmin</td>
                        <td>@user.IsActive</td>
                        <td class="@(user.IsDeleted ? "text-red" : "")">@user.IsDeleted</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
